{% extends "base.html.j2" %}
{% from "sections.html.j2" import advisory_section %}
{% block title %}utxoproof advisory{% endblock %}
{% block content %}
<h1>utxoproof advisory</h1>
{{ advisory_section(advisory, intro) }}
{% endblock %}
