{% extends "base.html.j2" %}
{% from "sections.html.j2" import alltime_section %}
{% block title %}utxoproof all-time summary{% endblock %}
{% block content %}
<h1>utxoproof all-time summary</h1>
{{ alltime_section(alltime, intro) }}
{% endblock %}
