{% extends "base.html.j2" %}
{% from "sections.html.j2" import descriptors_section %}
{% block title %}utxoproof descriptor check{% endblock %}
{% block content %}
<h1>utxoproof descriptor check</h1>
{{ descriptors_section(descriptors, intro) }}
{% endblock %}
