{% extends "base.html.j2" %}
{% from "sections.html.j2" import overview_section %}
{% block title %}utxoproof portfolio overview{% endblock %}
{% block content %}
<h1>Portfolio overview</h1>
{{ overview_section(overview, intro) }}
{% endblock %}
