{% extends "base.html.j2" %}
{% from "sections.html.j2" import privacy_section %}
{% block title %}utxoproof privacy report{% endblock %}
{% block content %}
<h1>utxoproof privacy report</h1>
{{ privacy_section(privacy, intro) }}
{% endblock %}
