{% extends "base.html.j2" %}
{% from "sections.html.j2" import status_section %}
{% block title %}utxoproof holdings status{% endblock %}
{% block content %}
<h1>utxoproof holdings status</h1>
{{ status_section(status, intro) }}
{% endblock %}
