{% extends "base.html.j2" %}
{% from "sections.html.j2" import tax_section %}
{% block title %}utxoproof tax report {{ tax.year }}{% endblock %}
{% block content %}
<h1>utxoproof tax report {{ tax.year }}</h1>
{{ tax_section(tax, intro) }}
{% endblock %}
